<div id="parliamentarians-list" class='main'>
  <div class="cards" >
    <% @upload_file.parliamentarians.each do |p| %>
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <div class="card-img-parliam">
              <%= image_tag("http://www.camara.leg.br/internet/deputado/bandep/#{p.ideCadastro}.jpg") %>
            </div>
            <div class="card-img-<%= p.sgPartido%>"></div>
          </div>
          <div class="card-info">
            <div class='card-info-name'>
              <span>
                <%= p.txNomeParlamentar %>
              </span>
            </div>
            <div class='card-info-spent'>
              <span>
                Total Gasto
              </span>
              <span class='card-info-spent-value' >
                R$ 1000,00
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>