<div id="home" class='main'>
  <div class="welc-cont">
    <div class="welc-img"></div>
    <div class="welc-text">
      <h2>Bem vindo ao analisador de gastos</h2>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales hendrerit ex non semper. Sed at lobortis nibh, ut auctor diam. Fusce finibus, dui sed rhoncus efficitur, ligula erat efficitur nibh, a pulvinar dui tellus at tellus. </span>
      <div class="welc-btn-upload">
        <span>Upload de arquivo</span> 
        <i class="fas fa-plus"></i>
      </div>
      <form method="post" class ="d-none">
        <input type="file">
      </form>
    </div>
  </div>
  <div class="latest-cont">
    <div class="cards" >
      <% 5.times do  %>
        <div class="card">
          <div class="card-body">
            <i class="fas fa-file-csv"></i>
            <div class="card-info">
              <span class='card-info-title'>Nome Do Arquivo</span>
              <span>00:00 00/00/00</span>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div>
      <h2>Últimos Uploads</h2>
    </div>
  </div>
</div>