<div id="home" class='main'>
  <div class="welc-cont">
    <div class="welc-img"></div>
    <div class="welc-text">
      <h2>Bem vindo ao analisador de gastos</h2>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales hendrerit ex non semper. Sed at lobortis nibh, ut auctor diam. Fusce finibus, dui sed rhoncus efficitur, ligula erat efficitur nibh, a pulvinar dui tellus at tellus. </span>
      <div class="welc-btn-upload btn" id="file-btn-upload">
        <span>Upload de arquivo</span> 
        <i class="fas fa-plus"></i>
      </div>
      <%= form_with url: upload_files_path, class:'d-none', id:'form-file', method: :post do |f| %>
        <%= f.file_field :file %>
      <% end %>
    </div>
  </div>
  <div class="latest-cont">
    <div class="cards" >
      <% 5.times do  %>
        <div class="card">
          <div class="card-body">
            <i class="fas fa-file-csv"></i>
            <div class="card-info">
              <span class='card-info-title'>Nome Do Arquivo</span>
              <span>00:00 00/00/00</span>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="latest-title">
      <h2>Últimos Uploads</h2>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="file-exception" tabindex="-1" role="dialog" aria-labelledby="file-exception" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Arquivo Invalido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tente anexar um arquivo .CSV válido
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'home' %>