// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#home {
  display: flex;
  flex-flow: column;

  .welc{
    &-cont{
      display: flex;
      flex-flow: row;
    }
    &-text {
      flex: 1;
      padding: 10px;
      text-align: center;
      display: flex;
      flex-flow: column;
      padding: 2rem;
      span{
        margin-top: 10px;
      }
    }
    &-btn-upload{
      text-align: center;
      background-color: var(--orange);
      padding: 5px;
      border-radius: 10px;
      align-self: center;
      margin-top: 2.5rem;
      cursor: pointer;
      box-shadow: var(--shadow);
      svg{
        color: var(--white);
        width: 1.5rem;
        height: 1.5rem;
      }
      span{
        text-align: center;
        padding: 5px;
        font-weight: bold;
        color: var(--white);
        font-size: 1.5rem;
      }
    }
  }
  
  .latest{
    &-cont{
      background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
      display: flex;
      flex-flow: column-reverse;
      padding: 1rem;
    }
    &-title{
      color: var(--white);
      padding: 10px 0;
    }
    &-more{
      color: white;
      float: right;
      padding: 0 20px;
    }
  }
    
  @media screen and (min-width: 45rem) {
    .welc{
      &-img{
        background-image: url("home/undraw_Data_re_80ws.svg");
        flex: 1;
        min-height: 23.25rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin: 1rem;
      }
      &-text {
        min-height: 27.5rem;
        text-align: end;
      }
      &-btn-upload{
        align-self: flex-end;
      }
    }
    .latest{
      &-cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      &-title{
        border-left: 1px solid var(--white);
        margin-top: 17px;
        h2{
          padding: 0 10px 
        }
      }
    }
  }

}