#parliamentarian-info{
  padding: 20px;
  .list-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
  }
  .info-specs-grid > .card{
    text-align: center;
    padding: 5px;
    margin: 5px;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info{
    &-specs{
      &-grid{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
    &-ranking {
      &-position{
        font-size: 46px;
        font-weight: 600;
      }
    }
    &-total-expenditure{
      &-value{
        font-size: 20px;
        font-weight: 600
      }
    }
    &-avg-expendure{
      &-value{
        font-size: 20px;
        font-weight: 600
      }
    }
  }

  .colun{
    width: 20%;
  }
  label{
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .chart-month{
    padding: 50px 0 ;
    .chart{
      padding: 30px 30px;
    }
  }
  .table{
    margin-top: 40px;
  }
  
  @media screen and (min-width: 45rem) {
    .list-info{
      grid-template-columns: 1fr 2fr;
    }

    .info{
      &-specs{
        display:flex;
        align-items: center;
        &-grid{
          grid-template-rows: unset;
          grid-auto-flow: column;
          grid-auto-rows: 200px;
          flex: 1;
        }
      }
      &-ranking {
        &-position{
          font-size: 50px;
        }
      }
      &-total-expenditure{
        &-value{
          font-size: 24px;
        }
      }
      &-avg-expendure{
        &-value{
          font-size: 24px;
        }
      }
    }
  }
    
  @media screen and (min-width: 64rem) {
    .list-info{
      grid-template-columns: 1fr 3fr;
    }
    .info{
      &-specs{
        display:flex;
        align-items: center;
        &-grid{
          grid-template-rows: unset;
          grid-auto-flow: column;
          grid-auto-rows: 200px;
          flex: 1;
        }
      }
      &-ranking {
        &-position{
          font-size: 56px;
        }
      }
      &-total-expenditure{
        &-value{
          font-size: 28px;
        }
      }
      &-avg-expendure{
        &-value{
          font-size: 28px;
        }
      }
    }
  }
}

#total-value-expenditures{
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 999;
  padding: 10px;
  border-radius: 5px;
  display: none;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color:var(--white);
  border: 2px solid var(--white);
}

#sum-value{
  border-top: 1px solid #C0C0C0;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
}